{% block title %}{{ app_name }}{% endblock %}

{% block content %}
    <h1>{{ app_name }}</h1>
    <p>Name: {{ username }}</p>
    <p>Class: {{ class_name }}</p>
    
    <a href="{% url 'main:create_product' %}">Add New Product</a>

    <h2>Available Products</h2>
    <ul>
        {% for product in products %}
            <li>
                <h3>{{ product.name }}</h3>
                <p><strong>Price:</strong> Rp{{ product.price }}</p>
                <p><strong>Description:</strong> {{ product.description }}</p>
                <p><strong>Category:</strong> {{ product.category }}</p>
                <p><strong>Stock:</strong> {{ product.stock }}</p>
                <p><strong>Featured:</strong> {{ product.is_featured }}</p>
                <img src="{{ product.thumbnail }}" alt="{{ product.name }}" width="150">
                <br>
                <a href="{% url 'main:show_product' product.id %}">Detail</a>
            </li>
        {% empty %}
            <li>No products available.</li>
        {% endfor %}
    </ul>
{% endblock %}